<%
// path function begin
// - - - - - - - - - - - - - - - - - - - - - - - -
var absolutePath = data.domain + filename.split(data.developDir)[filename.split(data.developDir).length -1].replace('index.ejs','').replace('.ejs','.html');
var relativePath = '../'.repeat([absolutePath.replace(data.domain,'').split('/').length -1]);


%><%- include(relativePath +'common/_path', {absolutePath:absolutePath, relativePath:relativePath}) %><%

var path = pagePath();
// - - - - - - - - - - - - - - - - - - - - - - - -
// path function end
//
//
// page info
// - - - - - - - - - - - - - - - - - - - - - - - -
var page = {
  title: 'test',
  desc: 'This is test directory',
  ogp: {
    image: '',
    type: 'website'
  },
  singleCss: [],
  singleJs: [],
  modifier: 'test'
};


// breadcrumb
// - - - - - - - - - - - - - - - - - - - - - - - -
var breadcrumb = {
  'url/': 'grand',
  'url/url': 'parent'
};





// = = = = = = = = = = = = = = = = = = = =
//
// html begin
//
// = = = = = = = = = = = = = = = = = = = =





%><%- include(path.re +'common/parts/_head', {page:page, path:path})
%><!-- header -->
<%- include(path.re +'common/parts/_header', {page:page, path:path}) %>

<%- include(path.re +'common/parts/_breadcrumb', {page:page, path:path, breadcrumb: breadcrumb}) %>

      <main class="main <% if(page.modifier) { %> main--<%= page.modifier %><% } %>">
        <p>absolute path: <%= path.ab %></p>
        <p>root path: <%= path.re %></p>
        <p>domain: <%= data.domain %></p>
      </main>

<!-- footer -->
<%- include(path.re +'common/parts/_footer', {page:page, path:path}) %><%





  // = = = = = = = = = = = = = = = = = = = =
  //
  // html end
  //
  // = = = = = = = = = = = = = = = = = = = =





%>
